@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-BoldItalic.eot');
  src: url('./assets/fonts/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-BoldItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-BoldItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-BoldItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-BoldItalic.svg#FiraSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Bold.eot');
  src: url('./assets/fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Bold.woff') format('woff'),
    url('./assets/fonts/FiraSans-Bold.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Black.eot');
  src: url('./assets/fonts/FiraSans-Black.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Black.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Black.woff') format('woff'),
    url('./assets/fonts/FiraSans-Black.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Black.svg#FiraSans-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-BlackItalic.eot');
  src: url('./assets/fonts/FiraSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-BlackItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-BlackItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-BlackItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-BlackItalic.svg#FiraSans-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-ExtraLightItalic.eot');
  src: url('./assets/fonts/FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-ExtraLightItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-ExtraLightItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-ExtraLightItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-ExtraLightItalic.svg#FiraSans-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-ExtraBold.eot');
  src: url('./assets/fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-ExtraBold.woff') format('woff'),
    url('./assets/fonts/FiraSans-ExtraBold.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-ExtraBold.svg#FiraSans-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-ExtraBoldItalic.eot');
  src: url('./assets/fonts/FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-ExtraBoldItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-ExtraBoldItalic.svg#FiraSans-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-ExtraLight.eot');
  src: url('./assets/fonts/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-ExtraLight.woff') format('woff'),
    url('./assets/fonts/FiraSans-ExtraLight.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-ExtraLight.svg#FiraSans-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Italic.eot');
  src: url('./assets/fonts/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Italic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Italic.woff') format('woff'),
    url('./assets/fonts/FiraSans-Italic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Italic.svg#FiraSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Light.eot');
  src: url('./assets/fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Light.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Light.woff') format('woff'),
    url('./assets/fonts/FiraSans-Light.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Light.svg#FiraSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-MediumItalic.eot');
  src: url('./assets/fonts/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-MediumItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-MediumItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-MediumItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-MediumItalic.svg#FiraSans-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Regular.eot');
  src: url('./assets/fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Regular.woff') format('woff'),
    url('./assets/fonts/FiraSans-Regular.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-SemiBold.eot');
  src: url('./assets/fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-SemiBold.woff') format('woff'),
    url('./assets/fonts/FiraSans-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-LightItalic.eot');
  src: url('./assets/fonts/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-LightItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-LightItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-LightItalic.svg#FiraSans-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Medium.eot');
  src: url('./assets/fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Medium.woff') format('woff'),
    url('./assets/fonts/FiraSans-Medium.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-Thin.eot');
  src: url('./assets/fonts/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-Thin.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-Thin.woff') format('woff'),
    url('./assets/fonts/FiraSans-Thin.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-Thin.svg#FiraSans-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-SemiBoldItalic.eot');
  src: url('./assets/fonts/FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-SemiBoldItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-SemiBoldItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-SemiBoldItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-SemiBoldItalic.svg#FiraSans-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/fonts/FiraSans-ThinItalic.eot');
  src: url('./assets/fonts/FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FiraSans-ThinItalic.woff2') format('woff2'),
    url('./assets/fonts/FiraSans-ThinItalic.woff') format('woff'),
    url('./assets/fonts/FiraSans-ThinItalic.ttf') format('truetype'),
    url('./assets/fonts/FiraSans-ThinItalic.svg#FiraSans-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/*font-family: 'Fira Sans' 
  font-weight: '900 bold 600 500 normal 200 100'
  font-style: italic regular*/

.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  max-width: 250px;
  max-height: 350px;
  background-color: #252442;
  border: 1px solid #F8F8FF;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
}

.card-image {
  height: 44%;
  max-width: 100%;
}

.card-title {
  height: 8%;
  margin: 3% 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  color: #AA70A4;
}

.card-description {
  height: 32%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  color: #F8F8FF;
  overflow: hidden;
  margin: 0;
}

.card-button {
  height: 10%;
  width: 30%;
  border-radius: 3px;
  border-style: none;
  margin-top: 5%;
  margin-left: 35%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  background-color: #AEEBFF;
  color: #252442;
  backdrop-filter: blur(2px);
}
